@model IEnumerable<ExpenseApplication.Models.ExpenseForm>

@{
    ViewData["Title"] = "Masraflarım";
    Dictionary<string, string> currencySymbols = new Dictionary<string, string>
    {
        { "TL", "₺" },
        { "USD", "$" },
        {"EUR", "€"}
    };
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("PendingForms", "Home", FormMethod.Get))
{
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="currency">Para Birimi</label>
            <select class="form-control" id="currency" name="currency">
                <option value="">Tümü</option>
                <option value="TL">TL</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary form-control">Filtrele</button>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Form ID</th>
            <th>Masraf Açıklaması</th>
            <th>Toplam Tutar</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.ExpenseFormId</td>
                <td>@form.Description</td>
                <td>@form.TotalAmount @currencySymbols[form.Currency]</td>
                <td>
                    <a asp-action="ExpenseDetails" asp-controller="Home" asp-route-id="@form.ExpenseFormId" class="btn btn-primary btn-sm">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
